/* Reinicio general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

/* Navegación */
header{
    background-color: #0568f3;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin: 15px;
}

nav ul li a{
    color: rgb(12, 8, 233);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #60a5fa;
}

/* Desplazamiento suave */
html{
    scroll-behavior: smooth;
}

/* Todas las secciones */
.contenido{
    background-color: white;
    width: 90%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
}

.contenido h2{
    text-align: center;
    color: #1f2937;
    margin-bottom: 20px;
}

.contenido p{
    text-align: center;
    margin-bottom: 10px;
}

/* Artículos */
.articulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

article{
    background-color: #eef2ff;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

article:hover{
    transform: scale(1.03);
}

article h3{
    color: #2563eb;
    margin-bottom: 10px;
}

article p{
    text-align: left;
}

/* Formulario de contacto */
form{
    max-width: 500px;
    margin: auto;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #1d4ed8;
}

/* Footer */
footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Diseño adaptable */
@media(max-width: 768px){
    .articulos{
        grid-template-columns: 1fr;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
    }
}

